#ðŸ“Œ ExtracciÃ³n

In [295]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [296]:
datos= pd.read_json("TelecomX_Data.json")
datos.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#ðŸ”§ TransformaciÃ³n

In [297]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [298]:
datos.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [299]:
pd.unique('Churn')

<ipython-input-299-2607308316>:1: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  pd.unique('Churn')

array(['Churn'], dtype=object)

In [300]:
datos_c = pd.json_normalize(datos ['customer'])
datos_p = pd.json_normalize(datos ['phone'])
datos_i = pd.json_normalize(datos ['internet'])
datos_a = pd.json_normalize(datos ['account'])

In [301]:
pd.unique(datos['Churn'])

array(['No', 'Yes', ''], dtype=object)

In [302]:
datos['Churn'] = datos['Churn'].astype(bool)

In [303]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   bool
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: bool(1), object(5)
memory usage: 291.1+ KB

In [304]:
datos_c['gender'] = datos_c['gender'].str.lower()
datos_c['Partner'] = datos_c['Partner'].astype(bool)
datos_c['Dependents'] = datos_c['Dependents'].astype(bool)

In [305]:
datos_p['PhoneService'] = datos_p['PhoneService'].astype(bool)
datos_p['MultipleLines'] = datos_p['MultipleLines'].astype(bool)

In [306]:
datos_i['InternetService'] = datos_i['InternetService'].str.lower()
datos_i['OnlineSecurity'] = datos_i['OnlineSecurity'].astype(bool)
datos_i['OnlineBackup'] = datos_i['OnlineBackup'].astype(bool)
datos_i['DeviceProtection'] = datos_i['DeviceProtection'].astype(bool)
datos_i['TechSupport'] = datos_i['TechSupport'].astype(bool)
datos_i['StreamingTV'] = datos_i['StreamingTV'].astype(bool)
datos_i['StreamingMovies'] = datos_i['StreamingMovies'].astype(bool)

In [307]:
datos_a['Contract'] = datos_a['Contract'].str.lower()
datos_a['Contract'] = datos_a['Contract'].astype(str).apply(lambda x: x.replace ('-',' '))
datos_a['PaperlessBilling'] = datos_a['PaperlessBilling'].astype(bool)
datos_a['PaymentMethod'] = datos_a['PaymentMethod'].str.lower()
datos_a['Charges.Total'] = pd.to_numeric(datos_a['Charges.Total'], errors='coerce').astype(np.float64)

In [308]:
datos_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contract          7267 non-null   object
 1   PaperlessBilling  7267 non-null   bool
 2   PaymentMethod     7267 non-null   object
 3   Charges.Monthly   7267 non-null   float64
 4   Charges.Total     7256 non-null   float64
dtypes: bool(1), float64(2), object(2)
memory usage: 234.3+ KB

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final